.bio {
	font-size: 20px;
	font-weight: 300;
}
.footer {
	text-align: center;
	font-size: 9px;
}

.jumbotron p{
	font-size: 40px;
}

.jumbotron {
	color: none;
	background-color: transparent;
	/*border: solid black 0.1px*/
	border-bottom: solid rgb(229, 229, 229) 1px;
}

.container .jumbotron {
	border-radius: 0px;
}